body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left h2 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.navbar-left h2 i {
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar-right ul li a, .navbar-right ul li button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 25px;
    background-color: #4CAF50;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    border: none;
}

.navbar-right ul li a:hover, .navbar-right ul li button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    margin: 5px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logout-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}

.btn-pagar {
    background-color: #4CAF50;
    padding: 12px 25px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-pagar:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

/* Estilos para la tabla de "Últimos registros de ventas" */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #064208;
    color: white;
    font-size: 18px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para el catálogo de productos */
.product-catalog {
    padding: 20px;
    text-align: center;
    background-color: #d4f5d3;
    border-radius: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product-category {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.product-category:hover {
    transform: translateY(-5px);
}

.product-category i {
    font-size: 3rem;
    color: #4CAF50;
    margin-bottom: 10px;
}

.product-category p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para el catálogo de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    justify-items: center;
}

.product-category {
    background-color: #4CAF50;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    width: 180px;
    transition: transform 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.product-category:hover {
    transform: translateY(-5px);
}

.product-category i {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

.product-category p {
    margin: 0;
    font-size: 18px;
    color: white;
}

/* Centrando el título de las secciones */
.text-center {
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar-left h2 {
    margin: 0;
    font-size: 24px;
    background-color: #f4f4f4;
    color: #333;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.navbar-right ul li a, .navbar-right ul li button {
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    background-color: #4CAF50;
    border-radius: 12px;
}

/* Estilos para las tablas */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para el catálogo de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product-category {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 150px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-category:hover {
    transform: translateY(-5px);
}

.product-category i {
    font-size: 3rem;
    color: #4CAF50;
}

.product-category p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Fondo general */
body {
    background-color: #d4f5d3;
}

/* Centrando el título de las secciones */
.text-center {
    text-align: center;
}
.pagination {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 12px;
}

.page-link {
    color: #4CAF50;
    font-weight: 500;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    margin: 0 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.page-link:hover {
    background-color: #e8f8e0;
    color: #4CAF50;
}

.page-item.active .page-link {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-item.disabled .page-link {
    color: #d3d3d3;
    pointer-events: none;
    background-color: #f9f9f9;
}
